h1 {
    background-color: bisque;
    background-position: center;
    color: darkgoldenrod;
    position: center;
text-align: center;
    
}

div {
    background-color: coral;
    padding: 2px;
    border: 10px;
    text-align: right;
}

h2 {
   padding: 10px;
   height: 500px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-content: center;
   justify-content: center;
   margin: 0;
   
  

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr:hover {background-color: #D6EEEE;}